.concept__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $second-color-text;
}

.concept__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 26px;
}

.concept__item {

}

.concept__item-healthy::after {
  content: "";
  display: block;
  width: 30px;
  height: 32px;
  background-image: url("../../images/icons/stack.svg#icon-leaf");
  background-repeat: no-repeat;
  background-position: left;
  background-color: $base-color-bg;//убрать потом
}

.concept__item-powder::after {
  content: "";
  display: block;
  width: 30px;
  height: 32px;
  background-image: url("../../images/icons/stack.svg#icon-powder");
  background-repeat: no-repeat;
  background-position: left;
  background-color: $base-color-bg;//убрать потом
}

.concept__item-meal-replacement::after {
  content: "";
  display: block;
  width: 30px;
  height: 32px;
  background-image: url("../../images/icons/stack.svg#icon-cutlery");
  background-repeat: no-repeat;
  background-position: left;
  background-color: $base-color-bg;//убрать потом
}

.concept__item-pet-results::after {
  content: "";
  display: block;
  width: 30px;
  height: 32px;
  background-image: url("../../images/icons/stack.svg#icon-clock");
  background-repeat: no-repeat;
  background-position: left;
  background-color: $base-color-bg;//убрать потом
}
