.example__container {
  background-color: $third-color-bg;
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $second-color-text;
}

.example__list {
  list-style-type: none;
}
