.example-item__mark {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.example-item__subtitle{
  font-size: 12px;
  line-height: 12px;
}

.example-item-total__subtitle {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.example-item-total__mark {
  font-family: "Oswald", sans-serif;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
