.extra__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $second-color-text;
  text-align: center;
}

.extra__promo {
  font-size: 16px;
  line-height: 20px;
  color: $light-color-text;
  text-align: center;

  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),// как сделать с opacity или transparent?
  url("../../images/cat-bonus-desktop@2x.webp"),
  url("../../images/icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  background-position: center, cover;
}
