.extra__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $second-color-text;
  text-align: center;
}

.extra__promo {
  font-size: 16px;
  line-height: 20px;
  color: $light-color-text;
  text-align: center;

  background-image: linear-gradient(
    rgba($base-color-bg, 85%)
    rgba($base-color-bg, 85%)
  ),
  url("../../images/cat-bonus-desktop@2x.webp");//поменять на мобильную
  background-repeat: no-repeat;
  background-position: center, cover;
}
