.footer__copyright {
  color: inherit;
  text-decoration: none;
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 20px;
}

.footer__copyright:hover .footer__copyright-logo,
.footer__copyright:focus .footer__copyright-logo {
  color: $base-color-bg;//не ясно мне что с этим делать
}

.footer__copyright:active {
  opacity: 0.3;
}

