.footer__copyright {
  color: inherit;
  text-decoration: none;
}

.footer__copyright-text {
  font-size: 16px;
  line-height: 20px;
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.8;
}

.footer__logo:active {
  opacity: 0.6;
}
