.form {
  font-family: $secondary-font;
}

.form__label {
  font-size: 16px;
  text-transform: uppercase;
}

.form__input::placeholder {
  font-size: 16px;
  text-transform: uppercase;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  color: $second-color-text;
}

.form__comment {
  font-size: 16px;
  text-transform: uppercase;
}

.form-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $light-color-text;
}

.form__footnote {
  line-height: 16px;
  color: $second-color-text;
  text-align: center;
}
