.hero {
  font-family: $secondary-font;
  color: $light-color-text;
  background: linear-gradient(rgba(104, 183, 56, 0.85),rgba(104, 183, 56, 0.85) 63%, #ffffff 63%, #ffffff);
  padding: 27px 30px 0;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 768px) {
    color: $second-color-text;
    background-color: #ffffff;
  }
}

.hero__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px; // медиа запрос только для мобильных
  color: $light-color-text;
}

.hero__text {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__link { //можно эти стили шрифта повесить на button?
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  @media (min-width: 768px) {
    width: 768px;
    text-align: left;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px 416px 205px;
    grid-template-rows: auto auto 54px 526px;
  }
  @media (min-width: 1300px) {
    width: 920px;
    padding-left: 80px;
    margin: 0;
    grid-template-columns: 367px 552px;
    grid-template-rows: auto 72px 54px auto;
  }
}
