.hero {
  font-family: $secondary-font;
  color: $light-color-text;
}

.hero__container {
  background-image: linear-gradient(
    rgba($base-color-bg, 85%) 70%,
    transparent 70% 100%); //возможно придется удалить
}

.hero__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px; // медиа запрос только для мобильных
  color: $light-color-text;
}

.hero__text {
  margin: 0;
  line-height: 14px;
  text-transform: uppercase;
}

.hero__link { //можно эти стили повесить на button?
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
