.main-header__container {
  width: 320px;

  @media (min-width: 768px) {
    padding: 25px 34px 0 30px;
  }
}

.main-header__nav {
  @media (min-width: 768px) {
  }


  @media (min-width: 1300px) {
  }
}

.main-header__ wraper {
  
}

.main-header__logo {
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

.main-header__toggle {
  width: 24px;
  height: 24px;
}
