.main-header__container {
  width: 320px;

  @media (min-width: 768px) {
    padding: 25px 34px 0 30px;
  }
}

.main-header__nav {
  @media (min-width: 768px) {
  }


  @media (min-width: 1300px) {
  }
}

.main-header__wraper {
  padding: 13px 20px 14px;
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.main-header__logo {
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
