.map {

}

.map__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.map__address {
  line-height: 20px;
}

.map__contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
