.nav-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-list__item {
  text-align: center;
  padding: 22px;
}

.nav-list__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $second-color-text;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-list__link:hover,
.nav-list__link:focus {
opacity: 0.6;
}
