.product__link {
  color: #222222;
  text-decoration: none;
}

.product__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product__title--promo {
  color: #111111;
}

.product__specs-parametr {
  font-size: 12px;
  line-height: 16px;
}

.product__specs-value {
  font-size: 12px;
  line-height: 16px;
}

.product__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $light-color-text;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $base-color-bg;//удалить когда встанет фон
}

.product__button--promo {
  color: $base-color-text;
  background-color: $second-color-bg;//удалить когда встанет фон
}
