.programs__container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    gap: 30px;
  }

  @media (min-width:1300px) {
    flex-direction: row;
    gap: 80px;
  }
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

}
