.select__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $second-color-text;
}

.select__text {
  font-family: $secondary-font;
  text-transform: uppercase;
  color: $second-color-text;
}
